@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Fourth Star</h1>
    <h3 class="display-4">Improve your soccer skills by Creating soccer drills to  practice.  </h3>
   
</div>
